@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Courgette&family=Indie+Flower&family=Pacifico&family=Permanent+Marker&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cherish&family=Dosis:wght@300&family=Gluten:wght@200&family=Metal&family=Stick+No+Bills:wght@300&family=Ubuntu:wght@300&display=swap');

#canvas {
    border: solid;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}