@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Courgette&family=Indie+Flower&family=Pacifico&family=Permanent+Marker&family=Satisfy&display=swap');

#canvas {
    border: solid;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}